@import 'magnific-popup';

.pvam_popup
{
	background: white;
	position: relative;
	padding: 2em;
	width: 40em;
	max-width: 95%;
	margin: auto;
}

/** Prevent the popup from covering the admin bar. **/
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content
{
  margin-top: 3%;
}
